:root {
    /* Reduce the font size */
    --base-font-size: 16px;

    /* Change the theme color hue */
    --theme-hue: 325;

    /* Change the sidebar bullets */
    --sidebar-nav-link-before-content: '😀';
	
	--strong-color: inherit;
	--base-color: rgb(36, 41, 46);
	--mark-background: #ff0000;
  }
  
del {
	font-weight: inherit;
	text-decoration: none;
	background-color: rgb(253,249,189);
}

:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > a {
	text-decoration: none !important;
	color: #0366d6 !important;
	font-weight: 600 !important;
}